body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
input{
    padding: 10px;
    margin:10px;
    width:70px;
    }
    input[type="text" ],input[type="password" ],input[type="email"]{
        width:200px;
        border-radius: 5px;
        border:darkgrey solid 1px;
    }
    input.error{

        border-radius: 5px;
        border:red solid 1px;
    }
    a{
        text-decoration: none;
    }
    .error{
        color: red
        ;
    }
   
  